﻿@model IReadOnlyList<ApplicationCore.ViewModels.Notification.NotificationViewModel>

@{ ViewBag.Title = "Notifications"; }

<div class="create">
    <div class="create__head">
        <img src=@Url.Content("~/pictures/notification.png") style="width:25px; height:auto; margin-right:15px" alt="Reset Password" />
        <div class="create__title">Notifications</div>
    </div>
    <div class="notification-wrap">

        @{
            if (Model.Count > 0)
            {
                int counter = 0;
                foreach (var notification in Model)
                {
                    <a class="notification" id="notification-@counter" asp-controller="Topic" asp-action="ReadTopic" asp-route-id="@notification.TopicId" asp-route-replyId="@notification.ReplyId">
                        <input id="notification-topic-@counter" name="id" value="@notification.TopicId" type="hidden" />
                        <input id="notification-reply-@counter" name="replyId" value="@notification.ReplyId" type="hidden" />
                        <div><img class="profile-img-tiny" src=@Url.Content(notification.PhotoPath) alt="avatar"></div>
                        <span class="notification-message"><b>@notification.Username</b> replied to: <b>@notification.TopicTitle</b></span>
                    </a>
                    counter++;
                }
            }
            else
            {
                <h5>Nothing here.</h5>
            }
        }
    </div>
</div>

<script src="~/js/all-notifications.js"></script>