﻿@model ApplicationCore.ViewModels.Topic.TopicCreateViewModel

@{
    ViewBag.Title = "Create New Topic";
}

<form class="create create-new-topic-helper" asp-controller="Topic" asp-action="CreateNewTopic" method="post">
    <input asp-for="Username" type="hidden" value="@User.Identity.Name" />
    <div class="create__head">
        <div class="create__title"><img src="~/pictures/New_Topic.svg" alt="New topic">Create New Topic</div>
    </div>
    <div > 
        <div class="message-relative-position" style="padding-top:8px">
            <div asp-validation-summary="ModelOnly" class="text-danger" id="new-topic-error-message"></div>
        </div>
        <div class="create__section new-topic-categories">
            <label class="create__label" for="category">Select Category</label>
            <label class="custom-select">
                <select asp-for="Category">
                    <option onclick="setSelected(this)" value='Hobbies'>Hobbies</option>
                    <option onclick="setSelected(this)" value='Social'>Social</option>
                    <option onclick="setSelected(this)" value='Video'>Video</option>
                    <option onclick="setSelected(this)" value='Arts'>Arts</option>
                    <option onclick="setSelected(this)" value='Tech'>Tech</option>
                    <option onclick="setSelected(this)" value='Gaming'>Gaming</option>
                    <option onclick="setSelected(this)" value='Science'>Science</option>
                    <option onclick="setSelected(this)" value='Exchange'>Exchange</option>
                    <option onclick="setSelected(this)" value='Pets'>Pets</option>
                    <option onclick="setSelected(this)" value='Entertainment'>Entertainment</option>
                    <option onclick="setSelected(this)" value='Education'>Education</option>
                    <option onclick="setSelected(this)" value='Q&As'>Q&As</option>
                    <option onclick="setSelected(this)" value='Politics'>Politics</option>
                    <option onclick="setSelected(this)" value='Travel'>Travel</option>
                </select>
            </label>
            <div class="message-fixed-position"></div>
            
        </div>
        <div class="create__section new-topic-title">
            <label class="create__label" for="title">Title</label>
            <input asp-for="Title" class="form-control" id="new-topic-title" placeholder="Add here">
            <div class="message-fixed-position ">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="create__section create__textarea new-topic-description">
            <label class="create__label" for="description">Description</label>
            <textarea asp-for="Content" class="form-control" id="new-topic-description">  </textarea>
            <div class="message-fixed-position ">
                <span class="text-danger" asp-validation-for="Content"></span>
            </div>
        </div>
        <div class="create__footer" style="padding-top:2rem">
            <a asp-controller="Home" asp-action="Index" class="create__btn-cansel btn btn--type-01" style="margin-top:8px">Cancel</a>
            <button type="submit" class="create__btn-create btn btn--type-02 new-topic-submit" disabled>Create Topic</button>
        </div>
    </div>
</form>

<script src="~/js/new-topic.js"></script>