﻿@model ApplicationCore.ViewModels.Topic.TopicViewModel
@{
    ViewBag.Title = "Reading : " + Model.TopicReadViewModel.Title;
    int repliedToCommentCount = 0;
    int replyToCommentButtonsCount = 0;
    int commentFooterButtonsCount = 0;
    string deleteButton = "";
    string replyButton = "";
}
<div class="create js-dropdown " id="container">
    <div class="create__head">
        <div class="create__title"><img src="~/pictures/Lets_talk.svg" alt="New topic">@Model.TopicReadViewModel.Title</div>
    </div>
    <div class="thread-item" style="margin-top:-10px;">
        <div class="thread-section-left">
            <a asp-controller="Topic" asp-action="Topics" asp-route-username="@Model.TopicReadViewModel.TopicUsername">
                <img src=@Url.Content(Model.TopicReadViewModel.PhotoPath) class="profile-img-small" />
            </a>
            <p>Topics: @Model.TopicReadViewModel.UserTopicCount</p>
        </div>
        <div class="thread-section-right">
            <div class="thread-header">
                <div style="font-weight:600; font-size:larger">
                    @Model.TopicReadViewModel.TopicUsername
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (Model.TopicReadViewModel.UserEnabledNotificatons)
                        {
                            <span class="notification-icon" title="Turn off notifications" id="notification-@Model.TopicReadViewModel.Id"><a href=""><i id="notification-icon-@Model.TopicReadViewModel.Id" class="fa fa-bell" aria-hidden="true"></i></a></span>
                        }
                        else
                        {
                            <span class="notification-icon" title="Turn on notifications" id="notification-@Model.TopicReadViewModel.Id"><a href=""><i id="notification-icon-@Model.TopicReadViewModel.Id" class="fal fa-bell" aria-hidden="true"></i></a></span>
                        }
                        if (Model.TopicReadViewModel.UserFollowsTopic)
                        {

                            <span class="bookmark-icon" title="Unfollow this topic" id="bookmark-@Model.TopicReadViewModel.Id"><a href=""><i id="bookmark-icon-@Model.TopicReadViewModel.Id" class="fa fa-bookmark" aria-hidden="true"></i></a></span>
                        }
                        else
                        {

                            <span class="bookmark-icon" title="Follow this topic" id="bookmark-@Model.TopicReadViewModel.Id"><a href=""><i id="bookmark-icon-@Model.TopicReadViewModel.Id" class="fal fa-bookmark" aria-hidden="true"></i></a></span>
                        }
                    }
                </div>
                <p style="color:lightgray;font-style:italic;font-size:small">
                    Posted on @Model.TopicReadViewModel.DateCreated.Day. @Model.TopicReadViewModel.DateCreated.Month. @Model.TopicReadViewModel.DateCreated.Year.
                </p>
            </div>
            <div class="first-thread-body" id="main-comment" style="font-size:larger">
                @Model.TopicReadViewModel.Content
            </div>
            <div class="thread-first-comment-footer " id="thread-first-comment-footer">
                @if (Model.TopicReadViewModel.TopicUsername != User.Identity.Name && User.Identity.IsAuthenticated)
                {
                    <div data-dropdown-btn="reply" class="drop-reply" title="Reply to topic">
                        <div href="#" class="thread-footer-link " id="">
                            <i class="fal fa-reply" style="color:lightgray; padding-bottom:5px;"></i>
                        </div>
                        <div class="dropdown dropdown--design-02 drop-reply" data-dropdown-list="reply">
                            <form class="create__footer drop-reply" asp-controller="Topic" asp-action="PostReplyToTopic">
                                <input asp-for="TopicReplyViewModel.TopicId" value="@Model.TopicReadViewModel.Id" type="hidden" />
                                <input asp-for="TopicReplyViewModel.Username" value="@User.Identity.Name" type="hidden" />
                                <textarea asp-for="TopicReplyViewModel.Content" class="form-control reply-text-area drop-reply" id="reply-text-area-@repliedToCommentCount" style="margin-top:8px; ">  </textarea>
                                <button type="submit" class="create__btn-create btn btn--type-02 drop-reply" style="margin-top:25px;width:100%" disabled id="reply-text-submit-@repliedToCommentCount">Reply</button>
                                <div class="message-fixed-position" style="position:absolute;top:217px"><span class="text-danger" asp-validation-for="TopicReplyViewModel.Content"></span></div>
                            </form>
                        </div>
                    </div>
                }
                @if (Model.TopicReadViewModel.TopicUsername == User.Identity.Name || User.IsInRole("Admin"))
                {
                    <div data-dropdown-btn="delete" class="drop-reply" title="Delete topic">
                        <div class="thread-footer-link " id="delete-coment">
                            <i class="fal fa-trash-alt " style="padding-top:0px;padding-bottom:5px;color:lightgray"></i>
                        </div>
                        <div class="dropdown dropdown--design-02-1 drop-reply" data-dropdown-list="delete">
                            <form asp-controller="Topic" asp-action="DeleteTopic">
                                <input asp-for="TopicDeleteViewModel.TopicId" value="@Model.TopicReadViewModel.Id" type="hidden" />
                                <div style="text-align:center; margin-top:-8px; margin-right:15px" class="drop-reply">Delete topic?</div>
                                <div class="create__footer" style="padding-left:12px; padding-right:33px">
                                    <button type="submit" class="create__btn-create btn btn--type-02 drop-reply" style="background-color:#CF5C36;width:200px">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @foreach (var reply in Model.TopicReadViewModel.TopicReplies)
    {
        <div class="thread-item">
            <div class="thread-section-left">

                <a asp-controller="Topic" asp-action="Topics" asp-route-username="@reply.Username">
                    <img src=@Url.Content(reply.PhotoPath) class="profile-img-small" />
                </a>
                <p>Topics: @reply.UserTopicCount</p>
            </div>
            <div class="thread-section-right">
                <div class="thread-header">
                    <div style="font-weight:600; font-size:larger">
                        @reply.Username
                    </div>
                    <p style="color:lightgray;font-style:italic;font-size:small">Posted on @reply.DateCreated.Day. @reply.DateCreated.Month. @reply.DateCreated.Year.</p>
                </div>
                <div class="thread-body">
                    @{
                        string minHeight = "";
                        if (reply.RepliedToComment != null)
                        {
                            minHeight = "10px";
                        }
                        else
                        {
                            minHeight = "65px";
                        }
                    }
                    @if (reply.RepliedToComment != null)
                    {
                        <div class="thread-reply " style="">
                            <div class="collapsible-reply " id="collapsible-reply-@Model.TopicReadViewModel.Id-@reply.RepliedToComment.CommentId-@repliedToCommentCount">
                                <div class="collapsible-reply-header" id="collapsible-reply-header-@Model.TopicReadViewModel.Id-@reply.RepliedToComment.CommentId-@repliedToCommentCount">
                                    <img src=@Url.Content(reply.RepliedToComment.PhotoPath) class="profile-img-tiny" />
                                    <div style="padding-left:5px; padding-top:2px;">@reply.RepliedToComment.Username:</div>
                                </div>
                                <div class="collapsible-reply-content" id="collapsible-reply-content-@Model.TopicReadViewModel.Id-@reply.RepliedToComment.CommentId-@repliedToCommentCount">
                                    @reply.RepliedToComment.Content
                                </div>
                                <div class="collapsible-reply-buttons" id="collapsible-reply-buttons-@Model.TopicReadViewModel.Id-@reply.RepliedToComment.CommentId-@repliedToCommentCount">
                                    <div class="expand-reply-chevron toggle-chev-01" onclick="expandRepliedToComment(this.id)"
                                         id="collapsible-reply-content-button-@Model.TopicReadViewModel.Id-@reply.RepliedToComment.CommentId-@repliedToCommentCount"><i class="fal fa-chevron-down"></i></div>
                                    <div class="expand-reply-chevron" style="margin-right:10px; margin-left:10px">
                                        <a onclick="scrollToElement('main-comment-@Model.TopicReadViewModel.Id-@reply.RepliedToComment.CommentId')"><i class="fal fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        repliedToCommentCount++;
                    }

                    <div id="main-comment-@Model.TopicReadViewModel.Id-@reply.CommentId" style="min-height: @minHeight;margin-bottom: -70px;font-size:larger">
                        @reply.Content
                    </div>
                </div>
                <div class="thread-footer " id="thread-footer-1" style="margin-top: 80px;">
                    <div class="thread-dropdown">
                        <div class="thread-dropdown-wrap">
                            @{
                                string height = "33px";
                                if (reply.CommentReplies != null)
                                {
                                    height = "28px";
                                }
                            }
                            <div class="thread-footer-replies-button " style="height:@height">
                                @if (reply.CommentReplies != null)
                                {
                                    <div class="thread-footer-link toggle-chev-02" id="thread-dropdown-reply-@Model.TopicReadViewModel.Id-@replyToCommentButtonsCount" onclick="expandCommentReplies(this.id)">
                                        Replies<i class="fa fa-chevron-down fa-sm" id="thread-dropdown-reply" style="margin-left:5px;margin-top:7px;margin-bottom:-6px"></i>
                                    </div>

                                }
                            </div>
                            <div style="float:right;display:flex;padding-left:25px" class="drop-reply">
                                @{
                                    deleteButton = "delete" + commentFooterButtonsCount++;
                                    replyButton = "reply" + commentFooterButtonsCount++;
                                }
                                @if (reply.Username != User.Identity.Name && User.Identity.IsAuthenticated)
                                {
                                    <div data-dropdown-btn="@replyButton" title="Reply to comment" class="drop-reply" onclick="closeCommentReplies('thread-dropdown-reply-' + @Model.TopicReadViewModel.Id + '-' + @replyToCommentButtonsCount)">

                                        <div href="#" class="thread-footer-link ">
                                            <i class="fal fa-reply " style="padding-top:4px ; right:0;"></i>
                                        </div>
                                        <div class="dropdown dropdown--design-03 drop-reply" data-dropdown-list="@replyButton">
                                            <form class="create__footer drop-reply" style="margin-top:12px"
                                                  asp-controller="Topic" asp-action="PostReplyToComment">
                                                <input asp-for="TopicReplyViewModel.TopicId" value="@Model.TopicReadViewModel.Id" type="hidden" />
                                                <input asp-for="TopicReplyViewModel.Username" value="@User.Identity.Name" type="hidden" />
                                                <input asp-for="TopicReplyViewModel.CommentId" value="@reply.CommentId" type="hidden" />
                                                <textarea asp-for="TopicReplyViewModel.Content" class="form-control reply-text-area drop-reply" id="reply-text-area-@reply.CommentId-@repliedToCommentCount">  </textarea>
                                                <button type="submit" class="create__btn-create btn btn--type-02 drop-reply" disabled style="margin-top:25px; width:100%" id="reply-text-submit-@reply.CommentId-@repliedToCommentCount">Reply</button>
                                                <div class="message-fixed-position" style="position:absolute;top:220px"><span class="text-danger" asp-validation-for="TopicReplyViewModel.Content"></span></div>
                                            </form>
                                        </div>
                                    </div>
                                }
                                @if (reply.Username == User.Identity.Name || User.IsInRole("Admin"))
                                {
                                    <div data-dropdown-btn="@deleteButton" title="Delete reply" class="drop-reply" onclick="closeCommentReplies('thread-dropdown-reply-' + @Model.TopicReadViewModel.Id + '-' + @replyToCommentButtonsCount)">
                                        <div class="thread-footer-link drop-reply" id="delete-coment">
                                            <i class="fal fa-trash-alt " style="padding-top:4px;color:lightgray;padding-left:5px;"></i>
                                        </div>
                                        <div class="dropdown dropdown--design-03-1 drop-reply" data-dropdown-list="@deleteButton">
                                            <form asp-controller="Topic" asp-action="DeleteReply" method="post">
                                                <input asp-for="TopicDeleteViewModel.TopicId" value="@Model.TopicReadViewModel.Id" type="hidden" />
                                                <input asp-for="TopicDeleteViewModel.CommentId" value="@reply.CommentId" type="hidden" />
                                                <div style="text-align:center; margin-top:-8px;margin-right:15px;color:black" class="drop-reply">Delete reply?</div>
                                                <div class="create__footer drop-reply" style="padding-left:12px; padding-right:12px">
                                                    <button type="submit" class="create__btn-create btn btn--type-02 drop-reply" style="background-color:#CF5C36;margin-right:20px; width:200px">Delete</button>
                                                    <div class="message-fixed-position text-danger" asp-validation-summary="ModelOnly"></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                            </div>
                            @{ commentFooterButtonsCount++; }
                        </div>
                        @{
                            if (reply.CommentReplies != null)
                            {
                                <div style="display:block" class="thread-dropdown-reply-content" name="thread-dropdown-reply-@Model.TopicReadViewModel.Id-@replyToCommentButtonsCount">
                                    @foreach (var commentReply in reply.CommentReplies)
                                    {
                                    <div class="thread-dropdown-reply">
                                        <div class="thread-dropdown-reply-content-data" style="">
                                            <img src=@Url.Content(commentReply.PhotoPath) class="profile-img-tiny" />
                                            <div style="padding-left:5px;color:black;display:flex;overflow: hidden;word-break: break-word;overflow-wrap: break-word;">
                                                @commentReply.Username: @commentReply.Content
                                            </div>
                                        </div>
                                        <div class="thread-dropdown-reply-content-buttonwrap">
                                            <div class="thread-dropdown-reply-content-button">
                                                <div class="expand-reply-chevron">
                                                    <a onclick="scrollToElement('main-comment-@Model.TopicReadViewModel.Id-@commentReply.CommentId')"><i class="fal fa-arrow-down"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                                replyToCommentButtonsCount++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<a onclick="scrollToTop()" title="Scroll to top" id="to-top"><i class="far fa-2x fa-arrow-circle-up"></i></a>
<div style="padding-bottom:180px"></div>

<script src="~/js/read-topic.js"></script>

