﻿@model ApplicationCore.ViewModels.Topic.MyTopicsAggregateViewModel

@{ ViewBag.Title = $"{Model.Username}'s Topics";

    Dictionary<string, string> classes = new Dictionary<string, string>
    {
        ["Social"] = "bg-348aa7",
        ["Video"] = "bg-4436f8",
        ["Travel"] = "bg-5dd39e",
        ["Arts"] = "bg-ff755a",
        ["Tech"] = "bg-bce784",
        ["Gaming"] = "bg-83253f",
        ["Science"] = "bg-c49bbb",
        ["Exchange"] = "bg-3ebafa",
        ["Pets"] = "bg-c6b38e",
        ["Entertainment"] = "bg-a7cdbd",
        ["Education"] = "bg-525252",
        ["Q&As"] = "bg-777da7",
        ["Politics"] = "bg-368f8b",
        ["Hobbies"] = "bg-f9bc64"
    };
}


        <div class="posts">
            <div class="my-topics-photo-wrap">
                <img class="my-topics-photo" src=@Url.Content(Model.PhotoPath) />
            </div>
            <div class="my-topics-username-wrap">
                <div class="my-topics-username">
                    @Model.Username
                </div>
            </div>
            <div class="posts__head">
                <div class="posts__topic">Topic</div>
                <div class="posts__category">Category</div>
                <div class="posts__users">Users</div>
                <div class="posts__replies">Replies</div>
                <div class="posts__views">Views</div>
                <div class="posts__activity">Activity</div>
            </div>
            <div class="posts__body">
                @if (Model.TopicIndexViewModels.Count > 0)
                {
                    @for (int i = 0; i < Model.TopicIndexViewModels.Count; i++)
                    {
                        string bgColor = "";
                        if (i % 2 == 1) { bgColor = "bg-f2f4f6"; }

                        <div class="posts__item @bgColor">
                            <div class="posts__section-left">
                                <div class="posts__topic">
                                    <div class="posts__content" style="">
                                        <a asp-controller="Topic" asp-action="ReadTopic" asp-route-id="@Model.TopicIndexViewModels[i].Id">
                                            <h3>@Model.TopicIndexViewModels[i].Title</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="posts__category"><a class="category"><i class="@classes[Model.TopicIndexViewModels[i].Category]"></i>@Model.TopicIndexViewModels[i].Category </a></div>
                            </div>
                            <div class="posts__section-right">
                                <div class="posts__users js-dropdown">
                                    @foreach (var userInfo in Model.TopicIndexViewModels[i].UserInfos)
                                    {
                                        <div>
                                            <a asp-controller="Topic" asp-action="Topics" asp-route-username="@userInfo.Username" title="@userInfo.Username" class="avatar"><img class="profile-img-tiny" style="margin-left:-2px" src=@Url.Content(userInfo.PhotoPath) alt="avatar"></a>
                                        </div>
                                    }
                                </div>
                                <div class="posts__replies">@Model.TopicIndexViewModels[i].ReplyCount</div>
                                <div class="posts__views">@Model.TopicIndexViewModels[i].ViewCount</div>
                                <div class="posts__activity">@Model.TopicIndexViewModels[i].LastActive</div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h5>No results.</h5>
                }
            </div>
        </div>
    
