﻿@model IReadOnlyList<ApplicationCore.Helpers.UserInfo>
@{ ViewBag.Title = "All Users";}

<div class="posts">
    <div class="posts__body">

        @{
            if (Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    if (Model[i].Username != "admin" && Model[i].Username != "milutinbeslic")
                    {
                        string bgColor = "";
                        if (i % 2 == 1) { bgColor = "bg-f2f4f6"; }

                        <div class="posts__item @bgColor">
                            <div class="posts__section-left">
                                <div class="posts__topic">
                                    <div class="posts__content" style="">
                                        <h3>@Model[i].Username</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="posts__section-right">
                                <div class="posts__users js-dropdown">
                                    <form class="delete-profile-submit" asp-controller="User" asp-action="DeleteUser">
                                        <input name="id" value="@Model[i].Id" type="hidden" />
                                        <button type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <h5>No results.</h5>
            }
        }
    </div>
</div>
