﻿@model ApplicationCore.ViewModels.User.UserProfileViewModel

@{
    ViewBag.Title = "My Profile";
    bool currentPassDisabled = false;
    string color = "";
    if (Model.UserChangePasswordViewModel.IsExternal)
    {
        currentPassDisabled = true;
        color = "#e9ecee";
    }
}

<div class="create" style="height: 500px;">
    <div class="create__head ">
        <div class="create__title"><img src="~/pictures/Intermediate.svg" alt="pic">My Profile</div>
    </div>
    <div class="sidebar">
        <ul class="nav nav-tabs" style="border-bottom:hidden; ">
            <li class="nav-item btn--type-01">
                <a class="nav-link active " style="border-radius: 0;border-bottom:none" data-toggle="tab" href="#my-profile-username">Change Username</a>
            </li>
            <li class="nav-item btn--type-01">
                <a class="nav-link " style="border-radius: 0; border-bottom:none" data-toggle="tab" href="#my-profile-email">Update Email Adress</a>
            </li>
            <li class="nav-item btn--type-01">
                <a class="nav-link " style="border-radius: 0; border-bottom:none" data-toggle="tab" href="#my-profile-password">Edit Password</a>
            </li>
            <li class="nav-item btn--type-01">
                <a class="nav-link " style="border-radius: 0; border-bottom:none" data-toggle="tab" href="#my-profile-image">Upload New Profile Picture</a>
            </li>
            <li class="nav-item btn--type-01">
                <a class="nav-link " style="border-radius: 0; border-bottom:none" data-toggle="tab" href="#my-profile-delete">Delete Profile</a>
            </li>
        </ul>
    </div>

    <div class="tab-content profile-info">
        <form id="my-profile-username" class="tab-pane active change-username">
            <input asp-for="UserChangeUsernameViewModel.Username" type="hidden" id="my-profile-change-username-hidden"/>
            <div class="create__section">
                <label class="create__label" for="title">Username</label>
                <input asp-for="UserChangeUsernameViewModel.NewUsername" class="form-control" id="my-profile-change-username" placeholder="">
                <div class="message-fixed-position " style="text-align:center" >
                    <span class="text-danger" asp-validation-for="UserChangeUsernameViewModel.NewUsername"></span>
                </div>
                <div id="my-profile-username-error-message" class="text-danger message-relative-position"></div>
            </div>
            <div class="create__footer">
                <a asp-controller="Home" asp-action="Index" class="create__btn-cansel btn btn--type-01"style="margin-top:8px">Cancel</a>
                <button type="submit" class="create__btn-create btn btn--type-02 change-username-submit" disabled>Save</button>
            </div>
        </form>

        <form id="my-profile-email" class="tab-pane change-email">
            <input asp-for="UserChangeEmailViewModel.Username" type="hidden" id="my-profile-change-email-hidden"/>
            <div class="create__section">
                <label class="create__label" for="title">Email</label>
                <input asp-for="UserChangeEmailViewModel.Email" class="form-control" id="my-profile-change-email" placeholder="">
                <div class="message-fixed-position " style="text-align:center">
                    <span class="text-danger" asp-validation-for="UserChangeEmailViewModel.Email"></span>
                </div>
            </div>
            <div id="my-profile-email-error-message" class="text-danger message-relative-position"></div>
            <div class="create__footer">
                <a asp-controller="Home" asp-action="Index" class="create__btn-cansel btn btn--type-01" style="margin-top:8px">Cancel</a>
                <button type="submit" class="create__btn-create btn btn--type-02 change-email-submit" disabled>Save</button>
            </div>
        </form>

        <form id="my-profile-password" class="tab-pane change-password">
            <input asp-for="UserChangePasswordViewModel.Username" type="hidden" id="my-profile-change-pass-hidden"/>
            <input asp-for="UserChangePasswordViewModel.IsExternal" type="hidden" id="isExternal"/>
            <div class="create__section">
                <label class="create__label" for="title">Current Password</label>
                @{
                    if (currentPassDisabled)
                    {
                        <input asp-for="UserChangePasswordViewModel.CurrentPassword" disabled
                               class="form-control" id="my-profile-change-pass-current" style="background-color:@color">
                    }
                    else
                    {
                        <input asp-for="UserChangePasswordViewModel.CurrentPassword"
                               class="form-control" id="my-profile-change-pass-current">
                    }
                }
                <div class="message-fixed-position " style="text-align:center">
                    <span class="text-danger" asp-validation-for="UserChangePasswordViewModel.CurrentPassword"></span>
                </div>
            </div>
            <div id="my-profile-password-error-message" class="text-danger message-relative-position"></div>
            <div class="create__section">
                <label class="create__label" for="title">New Password</label>
                <input asp-for="UserChangePasswordViewModel.NewPassword" class="form-control" id="my-profile-change-pass-new" placeholder="">
                <div class="message-fixed-position " style="text-align:center">
                    <span class="text-danger" asp-validation-for="UserChangePasswordViewModel.NewPassword"></span>
                </div>
            </div>
            <div class="create__section">
                <label class="create__label" for="title">Confirm New Password</label>
                <input asp-for="UserChangePasswordViewModel.ConfirmPassword" class="form-control" id="my-profile-change-pass-confirm" placeholder="">
                <div class="message-fixed-position " style="text-align:center">
                    <span class="text-danger" asp-validation-for="UserChangePasswordViewModel.ConfirmPassword"
                          id="my-profile-confirm-error-message"></span>
                </div>
            </div>
            <div class="create__footer">
                <a asp-controller="Home" asp-action="Index" class="create__btn-cansel btn btn--type-01" style="margin-top:8px">Cancel</a>
                <button type="submit" class="create__btn-create btn btn--type-02 change-password-submit" disabled>Save</button>
            </div>
        </form>

        <form id="my-profile-image" class="tab-pane" enctype="multipart/form-data">
            <input asp-for="UserChangePhotoViewModel.Username" type="hidden" id="my-profile-change-photo-hidden" />
            <img src="@Url.Content(Model.UserChangePhotoViewModel.PhotoPath)" class="profile-img" id="old-img" />
            <div id="my-profile-photo-error-message" class="text-danger message-relative-position" style="padding-top:30px"></div>
            <div>
                <div class="message-fixed-position text-danger" style="text-align:center" id=""></div>
                <label for="upload-1" class="create__btn-create btn btn--type-02 profile-img-change-button">Change</label>
                <input name="base64" id="upload-1" type="file">
            </div>
            <div class="create__footer image-helper-class">
                <a asp-controller="Home" asp-action="Index" class="create__btn-cansel btn btn--type-01" style="margin-top:8px">Cancel</a>
                <button type="submit" class="create__btn-create btn btn--type-02 change-photo-submit" disabled>Save</button>
            </div>
        </form>

        <form id="my-profile-delete" class="tab-pane profile-delete">
            <input asp-for="UserDeleteProfileViewModel.Username" type="hidden" id="my-profile-delete-profile-hidden" />
            <span>Are you sure you want to delete your profile?</span>
            <div></div>
            <div id="my-profile-delete-error-message" class="text-danger message-relative-position"
                 style="display:inline-block;"></div>
            <div class="create__footer " style=" margin-right:50%">
                <a asp-controller="Home" asp-action="Index" class="create__btn-cansel btn btn--type-01" style="margin-top:8px">Cancel</a>
                <button type="submit" class="create__btn-create btn btn--type-02 delete-profile-submit" style="background-color:#CF5C36;">Delete</button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/my-profile.js"></script>