﻿@model ApplicationCore.ViewModels.User.UserPasswordResetViewModel

@{ 
    ViewBag.Title = "Reset Password";
}

<div class="create">
    <div class="create__head">
        <img src=@Url.Content("~/pictures/Reset_Password.png") style="width:25px; height:auto; margin-right:15px" alt="Reset Password" />
        <div class="create__title">Reset Password</div>
    </div>
    <form class="forgot-password-email" method="get">
        <div class="create__section reset-email">
            <label class="create__label" >Enter your email</label>
            <input asp-for="Email" class="form-control " id="reset-email-input">
            <div class="message-fixed-position"><span asp-validation-for="Email" class="text-danger"></span></div>
        </div>
        <div class="create__footer" style=" padding-left:75%">
            <button type="submit" class="create__btn-create btn btn--type-02 reset-email-submit" disabled>Send email</button>
        </div>
    </form>
    <form class="forgot-password-code">
        <div class="create__section reset-code">
            <label class="create__label" >Enter verification code</label>
            <input asp-for="VerificationCode" class="form-control" id="reset-code-submit">
            <div class="message-fixed-position"><span asp-validation-for="VerificationCode" class="text-danger"></span></div>
        </div>
        <div class="create__footer" style="  padding-left:75%;">
            <button type="submit" class="create__btn-create btn btn--type-02 reset-code-submit" disabled>Send code</button>
        </div>
    </form>
</div>

<script src="~/js/user.js"></script>