﻿@{
    ViewBag.Title = "About";
}
<h5>About</h5>
<p>Messaging board CRUD app developed using ASP.NET Core framework, Entity framework Core, SignalR, JavaScript and JQuery.</p>
<br />
<h6>Implemented features:</h6>
<ul style="list-style:outside; padding-left:20px">
    <li>    CRUD operations for users, topics and replies</li>
    <li>    User roles and logins - internal and external</li>
    <li>    Email sending for new profile confirmation and password reset</li>
    <li>    Background service for deleting uncorfimed users</li>
    <li>    Topic bookmarking</li>
    <li>    Notifications</li>
    <li>    Searching and sorting</li>
    <li>    Pagination</li>
    <li>    Profile image uploading</li>
</ul>
<br />
<p>Source code can be found <a href="https://bitbucket.org/MilutinB/clicktopic/src/master/" target="blank">here</a>.</p>
<hr />
<i>ClickTopic is a portfolio pet project not intended for commercial use.</i>