﻿@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager
@model ApplicationCore.ViewModels.Topic.TopicIndexAggregateViewModel

@{
    ViewBag.Title = "Home Page";

    Dictionary<string, string> classes = new Dictionary<string, string>
    {
        ["Social"] = "bg-348aa7",
        ["Video"] = "bg-4436f8",
        ["Travel"] = "bg-5dd39e",
        ["Arts"] = "bg-ff755a",
        ["Tech"] = "bg-bce784",
        ["Gaming"] = "bg-83253f",
        ["Science"] = "bg-c49bbb",
        ["Exchange"] = "bg-3ebafa",
        ["Pets"] = "bg-c6b38e",
        ["Entertainment"] = "bg-a7cdbd",
        ["Education"] = "bg-525252",
        ["Q&As"] = "bg-777da7",
        ["Politics"] = "bg-368f8b",
        ["Hobbies"] = "bg-f9bc64"
    };
}

    <div class="">
        @{

            if (Model.SearchTerm != null)
            {
                <h5 style="font-weight:400;margin-top:20px">Search result for: <b>'@Model.SearchTerm'</b></h5>
            }
            else
            {
                string selectedCategory = Model.SelectedCategory ?? "All Categories";
                string selectedOrder = Model.OrderBy ?? "Latest";
                string latestActive = "active";
                string topActive = "";
                string followActive = "";
                if (Model.OrderBy == "Top")
                {
                    topActive = "active";
                    latestActive = "";
                    followActive = "";
                }
                if (Model.OrderBy == "Latest")
                {
                    latestActive = "active";
                    topActive = "";
                    followActive = "";
                }
                if (Model.OrderBy == "Follow")
                {
                    followActive = "active";
                    latestActive = "";
                    topActive = "";
                }
                <div class="nav">
                    <div class="nav__categories js-dropdown">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <div class="header__user-btn">
                                <a asp-controller="Topic" asp-action="CreateNewTopic"><img src=@Url.Content("~/pictures/New_Topic.svg") /></a>
                            </div>
                        }
                        <div class="nav__select">
                            <div class="btn-select dropdown__btn--open" data-dropdown-btn="categories">@selectedCategory</div>
                            <nav class="dropdown dropdown--design-01" data-dropdown-list="categories" style="">
                                <ul class="dropdown__catalog row">
                                    @foreach (var category in Model.Categories)
                                    {
                                        <li class="col-xs-6">
                                            <a asp-controller="Home" asp-action="Index" asp-route-category="@category" asp-route-order="@selectedOrder" class="category">
                                                <i class=@classes[category]></i>@category
                                            </a>
                                        </li>
                                    }
                                    <li class="col-xs-12 text-center" style="margin-top:5px; margin-bottom:-5px;">
                                        <a asp-controller="Home" asp-action="Index" asp-route-category="@null" asp-route-order="@selectedOrder" class="category">
                                            All Categories
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="nav__menu js-dropdown">
                        <ul>
                            <li class="@latestActive" id="latest"><a asp-controller="Home" asp-action="Index" asp-route-category="@Model.SelectedCategory" asp-route-order="Latest">Latest</a></li>
                            <li class="@topActive" id="top"><a asp-controller="Home" asp-action="Index" asp-route-category="@Model.SelectedCategory" asp-route-order="Top">Top Active</a></li>
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="@followActive"><a asp-controller="Home" asp-action="Index" asp-route-order="Follow">Follow Feed</a></li>
                            }
                            @if (signInManager.IsSignedIn(User))
                            {
                                ApplicationUser user = await userManager.FindByNameAsync(User.Identity.Name);
                                if (user != null && await signInManager.UserManager.IsInRoleAsync(user, "Admin"))
                                {
                                    <li><a asp-controller="User" asp-action="AllUsers">All Users</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        }
        <div class="posts">
            <div class="posts__head">
                <div class="posts__topic">Topic</div>
                <div class="posts__category">Category</div>
                <div class="posts__users">Users</div>
                <div class="posts__replies">Replies</div>
                <div class="posts__views">Views</div>
                <div class="posts__activity">Activity</div>
            </div>
            <div class="posts__body">
                @if (Model.Page == 1 && !Model.UserClosedWelcome)
                {
                    <div class="posts__item bg-fef2e0" id="welcomeMessage">
                        <div class="posts__section-left">
                            <div class="posts__topic">
                                <div class="posts__content">
                                    <a asp-controller="Home" asp-action="Welcome">
                                        <h3>Welcome New Users! Please read this before posting!</h3>
                                    </a>
                                    <p>
                                        Congratulations, you have found the Community! Before you make a new topic or post, please read community guidelines.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <a asp-controller="Home" asp-action="SetWelcomeCookie" class="close-welcome"><i class="fal fa-window-close"></i></a>
                    </div>
                }
                @{
                    if (Model.TopicIndexViewModels.Count > 0)
                    {
                        for (int i = 0; i < Model.TopicIndexViewModels.Count; i++)
                        {
                            string bgColor = "";
                            if (i % 2 == 1) { bgColor = "bg-f2f4f6"; }

                            <div class="posts__item @bgColor">
                                <div class="posts__section-left">
                                    <div class="posts__topic">
                                        <div class="posts__content" style="">
                                            <a asp-controller="Topic" asp-action="ReadTopic" asp-route-id="@Model.TopicIndexViewModels[i].Id">
                                                <h3>@Model.TopicIndexViewModels[i].Title</h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="posts__category"><a class="category"><i class="@classes[Model.TopicIndexViewModels[i].Category]"></i>@Model.TopicIndexViewModels[i].Category </a></div>
                                </div>
                                <div class="posts__section-right">
                                    <div class="posts__users js-dropdown">
                                        @{ int photoCount = 0; }
                                        @foreach (var userInfo in Model.TopicIndexViewModels[i].UserInfos)
                                        {
                                            if (photoCount == 4)
                                            {
                                                break;
                                            }
                                            <div>
                                                <a asp-controller="Topic" asp-action="Topics" asp-route-username="@userInfo.Username" 
                                                   title="@userInfo.Username" class="avatar">
                                                <img class="profile-img-tiny" style="margin-left:-2px" src=@Url.Content(userInfo.PhotoPath) alt="avatar"></a>
                                            </div>
                                            photoCount++;
                                        }
                                    </div>
                                    <div class="posts__replies">@Model.TopicIndexViewModels[i].ReplyCount</div>
                                    <div class="posts__views">@Model.TopicIndexViewModels[i].ViewCount</div>
                                    <div class="posts__activity">@Model.TopicIndexViewModels[i].LastActive</div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h5>No results.</h5>
                    }
                }
            </div>
        </div>
        @{
            <div class="pagination-wrap">
                <div class="pagination">
                    @if (Model.TopicIndexViewModels.Count > 0 && Model.SearchTerm == null && Model.TotalPages > 1)
                    {
                        if (Model.Page > 1)
                        {
                            <a asp-controller="Home" asp-action="Index" asp-route-page="@(Model.Page - 1)" asp-route-category="@Model.SelectedCategory" asp-route-order="@Model.OrderBy"><i class="fal fa-arrow-alt-left"></i></a>
                        }
                        if (Model.Page < 6 || Model.TotalPages < 10)
                        {
                            int max = Math.Min(9, Model.TotalPages);
                            for (int i = 0; i < max; i++)
                            {
                                string active = "";
                                if (i + 1 == Model.Page)
                                {
                                    active = "active";
                                }
                                <a asp-controller="Home" asp-action="Index" asp-route-page="@(i + 1)" asp-route-category="@Model.SelectedCategory" asp-route-order="@Model.OrderBy" class="@active">@(i + 1)</a>
                            }

                        }
                        else if (Model.TotalPages - Model.Page < 5)
                        {
                            for (int i = Model.TotalPages - 8; i <= Model.TotalPages; i++)
                            {
                                string active = "";
                                if (i == Model.Page)
                                {
                                    active = "active";
                                }
                                <a asp-controller="Home" asp-action="Index" asp-route-page="@i" asp-route-category="@Model.SelectedCategory" asp-route-order="@Model.OrderBy" class="@active">@i</a>
                            }
                        }
                        else
                        {
                            int[] pages = new int[9];

                            double firstDivisor = (double)(Model.Page - 1) / 4d;
                            double secondDivisor = (double)(Model.TotalPages - Model.Page) / 4d;
                            pages[0] = 1;
                            pages[1] = Model.Page - (int)Math.Floor(firstDivisor * 3d);
                            pages[2] = Model.Page - (int)Math.Floor(firstDivisor * 2d);
                            pages[3] = Model.Page - (int)Math.Floor(firstDivisor);
                            pages[4] = Model.Page;
                            pages[5] = Model.Page + (int)Math.Ceiling(secondDivisor);
                            pages[6] = Model.Page + (int)Math.Ceiling(secondDivisor * 2d);
                            pages[7] = Model.Page + (int)Math.Ceiling(secondDivisor * 3d);
                            pages[8] = Model.TotalPages;

                            for (int i = 0; i < pages.Length; i++)
                            {
                                string active = "";
                                if (pages[i] == Model.Page)
                                {
                                    active = "active";
                                }
                                <a asp-controller="Home" asp-action="Index" asp-route-page="@pages[i]" asp-route-category="@Model.SelectedCategory" asp-route-order="@Model.OrderBy" class="@active">@pages[i]</a>
                            }
                        }
                        if (Model.Page < Model.TotalPages)
                        {
                            <a asp-controller="Home" asp-action="Index" asp-route-page="@(Model.Page + 1)" asp-route-category="@Model.SelectedCategory" asp-route-order="@Model.OrderBy"><i class="fal fa-arrow-alt-right"></i></a>
                        }
                    }
                </div>
            </div>
        }
    </div>

<script src="~/js/index.js"></script>

