﻿@{ ViewBag.Title = "Welcome"; }

<div class="create js-dropdown ">
    <div class="create__head">
        <div class="create__title"><img src="~/pictures/Lets_talk.svg" alt="Topic">Welcome new users!</div>
    </div>
    <div class="thread-item" style="margin-top:-10px;">
        <div class="thread-section-left">
            <img src=@Url.Content("~/pictures/Bot.svg") class="profile-img-small" />
        </div>
        <div class="thread-section-right">
            <div class="thread-header">
                <div style="font-weight:600; font-size:larger">
                    YADA YADA YADA...
                </div>
            </div>
            <div class="first-thread-body" id="main-comment" style="font-size:larger">
                Just don't spam, troll or insult other people or post content that might be of inappropriate nature.
                <br />
                Happy chatting!
            </div>
        </div>
    </div>
</div>