﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
        <script>$.noConflict();</script>
        <script src="~/js/velocity.min.js"></script>
        <script src="~/js/app.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/style(1).css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/style.css">

        <link rel="stylesheet" href="~/font-awesome/css/all.css">
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header-wrap">
        <partial name="_Navigation" />
    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            @DateTime.Now.Year ClickTopic <a style="padding-left:20px" asp-controller="Home" asp-action="About">  About</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
