﻿@model ApplicationCore.ViewModels.User.UserViewModel

<!-- MODAL -->
<div id="modal01" class="modal" >
    <div class="modal-content">
        <div class="modal-body">
            <ul class="nav nav-tabs " role="tablist">
                <li class=" nav-item btn--type-01">
                    <a class="nav-link active " style="border-radius: 0;border-bottom:none" data-toggle="tab" href="#login" role="tab">
                        <h4>Log In</h4>
                    </a>
                </li>
                <li class="nav-item btn--type-01">
                    <a class="nav-link " style="border-radius: 0;border-bottom:none" data-toggle="tab" href="#signup" role="tab">
                        <h4>Sign Up</h4>
                    </a>
                </li>
            </ul>
            <div class="tab-content ">
                <!--LOG IN-->
                <div class="tab-pane active" id="login" role="tabpanel">
                    <form  asp-controller="User" asp-action="Login">
                        <div id="login-error-message" class="text-danger message-fixed-position" style="height:-20px"></div>

                        <input asp-for="UserLoginViewModel.ReturnUrl" type="hidden" id="login-returnUrl" />

                        <div class="create__section login-input" style="padding-top:0px">
                            <label class="create__label" asp-for="UserLoginViewModel.UserName"><b>Username</b></label>
                            <input asp-for="UserLoginViewModel.UserName" placeholder="Enter Username" id="login-username">
                            <div class="message-fixed-position"><span asp-validation-for="UserLoginViewModel.UserName" class="text-danger"></span></div>
                        </div>

                        <div class="create__section login-input" style="padding-top:0px">
                            <label class="create__label" asp-for="UserLoginViewModel.Password"><b>Password</b></label>
                            <input asp-for="UserLoginViewModel.Password" placeholder="Enter Password" id="login-password">
                            <div class="message-fixed-position"><span asp-validation-for="UserLoginViewModel.Password" class="text-danger"></span></div>
                        </div>

                        <div class="create__section  ">
                            <label class="">
                                <label class="custom-checkbox ">
                                    <input class="login-rememberMe" type="checkbox" checked asp-for="UserLoginViewModel.RememberMe"
                                           style="margin-bottom:15px" id="login-rememberMe">
                                    <i></i>
                                </label><b></b> Remember me
                            </label>
                        </div>

                        <div class="create__section">
                            <div class="clearfix">
                                <button type="submit" class="create__btn-create btn btn--type-02 login-submit" id="login-submit"
                                        disabled>
                                    Log In
                                </button>
                                <button class="create__btn-cansel btn btn--type-01 modal-cancel">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--SIGN UP-->
                <form class="tab-pane " id="signup" role="tabpanel" asp-controller="User" asp-action="Signup"  autocomplete="off">
                    <div id="signup-error-message" class="text-danger message-fixed-position"></div>
                    <div id="signup-confirmation-message" class="text-success message-relative-position"></div>

                    <div class="create__section signup-input" style="padding-top:0px">
                        <label class="create__label" asp-for="UserSignupViewModel.UserName"><b>Username</b></label>
                        <input asp-for="UserSignupViewModel.UserName" placeholder="Enter Username" id="signup-username">
                        <div class="message-fixed-position"><span asp-validation-for="UserSignupViewModel.UserName" class="text-danger"></span></div>
                    </div>
                    <div id="username-error-message" class="text-danger message-relative-position"></div>

                    <div class="create__section signup-input" style="padding-top:0px">
                        <label class="create__label " asp-for="UserSignupViewModel.Email"><b>Email</b></label>
                        <input asp-for="UserSignupViewModel.Email" placeholder="Enter Email" id="signup-email">
                        <div class="message-fixed-position"><span asp-validation-for="UserSignupViewModel.Email" class="text-danger"></span></div>
                    </div>
                    <div id="email-error-message" class="text-danger message-relative-position"></div>

                    <div class="create__section signup-input" style="padding-top:0px">
                        <label class="create__label " asp-for="UserSignupViewModel.Password"><b>Password</b></label>
                        <input asp-for="UserSignupViewModel.Password" placeholder="Enter Password" id="signup-password">
                        <div class="message-fixed-position"><span asp-validation-for="UserSignupViewModel.Password" class="text-danger"></span></div>
                    </div>

                    <div class="create__section signup-input" style="padding-top:0px">
                        <label class="create__label " asp-for="UserSignupViewModel.ConfirmPassword"><b>Repeat Password</b></label>
                        <input asp-for="UserSignupViewModel.ConfirmPassword" placeholder="Repeat Password" id="signup-confirm-password">
                        <div class="message-fixed-position"><span asp-validation-for="UserSignupViewModel.ConfirmPassword" class="text-danger"></span></div>
                    </div>

                    <div class="create__section  " style="padding-top:0px">
                        <label class="">
                            <label class="custom-checkbox ">
                                <input class="signup-rememberMe" asp-for="UserSignupViewModel.RememberMe" type="checkbox" checked="checked"
                                       style="margin-bottom:15px" id="signup-rememberMe">
                                <i></i>
                            </label><b></b> Remember me
                        </label>
                    </div>

                    <div class="create__section ">
                        <div class="clearfix">
                            <button type="submit" id="signup-submit" class="create__btn-create btn btn--type-02 signup-submit"
                                    disabled>
                                Sign Up
                            </button>
                            <button class="create__btn-cansel btn btn--type-01 modal-cancel">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>

                <form asp-controller="User" asp-action="ExternalLogin" asp-route-returnUrl="@Model.UserLoginViewModel.ReturnUrl">
                    <div class=" " style="text-align:center">
                        <div class="create__section">
                            <label class="create__label">Or sign in with</label>
                        </div>
                        <div class="">
                            <button class="form-as-link" id="signup-google" type="submit" name="provider" value="Google"
                                    title="Login using your Google account" style="width:auto; margin-right:20px">
                                <i class="fab fa-google fa-3x px-5  "></i>
                            </button>
                            <button class="form-as-link" id="signup-facebook" type="submit" name="provider" value="Facebook"
                                    title="Login using your Facebook account" style="width:auto">
                                <i class="fab fa-facebook fa-3x"></i>
                            </button>
                        </div>
                        <div class="create__section" style="padding-top:0px" id="signup-forgot"><a  asp-controller="User" asp-action="PasswordReset">Forgot password?</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/user.js"></script>