﻿@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager
@inject ApplicationCore.Interfaces.INotificationViewModelService notificationViewModelService

@{
    if (ViewBag.ReturnUrl != null && !User.Identity.IsAuthenticated)
    {
        <script>
            $(document).ready(function () {
                document.getElementById('modal01').style.display = 'block'; $('html').css('overflow', 'hidden');
            })
        </script>
    }
}

<div class="header js-header js-dropdown fixed-top">
    <div class="container">

        <!-- LOGO -->
        <div class="header__logo" style="margin-right:300px;">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/pictures/Logo_Forum.svg" alt="logo">

                <div class="header__logo-btn">
                    ClickTopic
                </div>
            </a>
        </div>


        @{
            if (signInManager.IsSignedIn(User))
            {
                int count = 0;
                var notifications = await notificationViewModelService.GetUserNotificationsAsync(unseenOnly: true);
                IReadOnlyList<ApplicationCore.ViewModels.Notification.NotificationViewModel> firstFiveNotifications = null;
                if (notifications.Count < 6)
                {
                    firstFiveNotifications = await notificationViewModelService.GetUserNotificationsAsync(firstFive: true);
                }
                <div class="navigation-user-menu" id="navigation-user-menu" style="padding-top:23px">

                    <!-- NOTIFICATON -->
                    <div class="header__notification">
                        <!-- SEARCH -->
                        <div id="wrap">
                            <form asp-controller="Home" asp-action="Index" method="get" autocomplete="on">
                                <input id="search" name="search" type="search" placeholder="What are we looking for?"><span style="font-size:20px"><i class="fal fa-search js-header-search-btn-open" style="color:lightgray"></i></span><input id="search_submit" type="submit" class="search-submit">
                            </form>
                        </div>
                        <div class="header__notification-btn" data-dropdown-btn="notification">
                            <i class="fal fa-bell" style="color:lightgray"></i>
                            @if (notifications.Count > 0)
                            {
                                <span id="notifications-count">@notifications.Count</span>
                            }
                        </div>
                        <div class="dropdown dropdown--design-01" data-dropdown-list="notification">
                            <div class="notifications-list">
                                @{
                                    if (notifications.Count > 0)
                                    {
                                        foreach (var notification in notifications)
                                        {
                                            if (count == 5)
                                            {
                                                break;
                                            }
                                            <a class="dropdown-notification-bckg-color notifications-dropdown" id="notifications-dropdown-@count" asp-controller="Topic" asp-action="ReadTopic" asp-route-id="@notification.TopicId" asp-route-replyId="@notification.ReplyId"
                                               style="display:block;padding-left:20px;margin-left:-15px;padding-right:20px;margin-right:-15px">
                                                <input id="notification-dropdown-topic-@count" name="id" value="@notification.TopicId" type="hidden" />
                                                <input id="notification-dropdown-reply-@count" name="replyId" value="@notification.ReplyId" type="hidden" />

                                                <p style="display:flex;position:relative;justify-content: center;align-items: center;margin-top:-0.5rem;margin-bottom:-0.5rem">@notification.DateCreated.Date.ToString().Split(" ")[0]</p>
                                                <div style="display:flex;margin-left:-10px">
                                                    <img class="profile-img-tiny" src=@Url.Content(notification.PhotoPath) />
                                                    <p style="margin-left:5px;padding-top:0.5rem; max-width:200px; font-weight:800; display:flex;overflow:hidden;overflow-wrap: break-word;position:relative;max-height:1.7rem;word-break: break-word;">@notification.Username</p>
                                                </div>
                                                <p style="display:flex;position:relative;justify-content: center;align-items: center;padding-top:-0.5rem">replied to</p>
                                                <p style="max-width:250px;font-weight:800;display:flex;overflow:hidden;overflow-wrap: break-word;position:relative;max-height:1.5rem;word-break: break-word;margin-bottom:-0.5rem">@notification.TopicTitle</p>
                                            </a>
                                            count++;
                                        }
                                        if (notifications.Count > 0 && notifications.Count < 5)
                                        {
                                            foreach (var ffNotification in firstFiveNotifications)
                                            {
                                                if (count == 5)
                                                {
                                                    break;
                                                }
                                                <a id="notifications-dropdown-@count" asp-controller="Topic" asp-action="ReadTopic" asp-route-id="@ffNotification.TopicId" asp-route-replyId="@ffNotification.ReplyId"
                                                   style="display:block;padding-left:20px;margin-left:-15px;padding-right:20px;margin-right:-15px" class="notifications-dropdown">
                                                    <input id="notification-dropdown-topic-@count" name="id" value="@ffNotification.TopicId" type="hidden" />
                                                    <input id="notification-dropdown-reply-@count" name="replyId" value="@ffNotification.ReplyId" type="hidden" />

                                                    <p style="display:flex;position:relative;justify-content: center;align-items: center;margin-top:-0.5rem;margin-bottom:-0.5rem">@ffNotification.DateCreated.Date.ToString().Split(" ")[0]</p>
                                                    <div style="display:flex;margin-left:-10px">
                                                        <img class="profile-img-tiny" src=@Url.Content(ffNotification.PhotoPath) />
                                                        <p style="margin-left:5px;padding-top:0.5rem; max-width:200px; font-weight:800; display:flex;overflow:hidden;overflow-wrap: break-word;position:relative;max-height:1.7rem;word-break: break-word;">@ffNotification.Username</p>
                                                    </div>
                                                    <p style="display:flex;position:relative;justify-content: center;align-items: center;padding-top:-0.5rem">replied to</p>
                                                    <p style="max-width:250px;font-weight:800;display:flex;overflow:hidden;overflow-wrap: break-word;position:relative;max-height:1.5rem;word-break: break-word;margin-bottom:-0.5rem">@ffNotification.TopicTitle</p>
                                                </a>
                                                count++;
                                            }
                                        }
                                    }
                                    else if (firstFiveNotifications.Count > 0)
                                    {
                                        foreach (var notification in firstFiveNotifications)
                                        {
                                            <a id="notifications-dropdown-@count" asp-controller="Topic" asp-action="ReadTopic" asp-route-id="@notification.TopicId" asp-route-replyId="@notification.ReplyId"
                                               style="display:block;padding-left:20px;margin-left:-15px;padding-right:20px;margin-right:-15px" class="notifications-dropdown">
                                                <input id="notification-dropdown-topic-@count" name="id" value="@notification.TopicId" type="hidden" />
                                                <input id="notification-dropdown-reply-@count" name="replyId" value="@notification.ReplyId" type="hidden" />

                                                <p style="display:flex;position:relative;justify-content: center;align-items: center;margin-top:-0.5rem;margin-bottom:-0.5rem">@notification.DateCreated.Date.ToString().Split(" ")[0]</p>
                                                <div style="display:flex;margin-left:-10px">
                                                    <img class="profile-img-tiny" src=@Url.Content(notification.PhotoPath) />
                                                    <p style="margin-left:5px;padding-top:0.5rem; max-width:200px; font-weight:800; display:flex;overflow:hidden;overflow-wrap: break-word;position:relative;max-height:1.7rem;word-break: break-word;">@notification.Username</p>
                                                </div>
                                                <p style="display:flex;position:relative;justify-content: center;align-items: center;padding-top:-0.5rem">replied to</p>
                                                <p style="max-width:250px;font-weight:800;display:flex;overflow:hidden;overflow-wrap: break-word;position:relative;max-height:1.5rem;word-break: break-word;margin-bottom:-0.5rem">@notification.TopicTitle</p>
                                            </a>
                                            count++;
                                        }

                                    }
                                    else
                                    {
                                        <span id="no-notifications"><a>no notifications</a></span>
                                    }

                                }
                                @if (count >= 5)
                                {
                                    <span id="view-all-notifications"><a asp-controller="Notification" asp-action="AllNotifications">view all notifications...</a></span>
                                }
                            </div>
                        </div>
                    </div>

                    <!-- USER -->
                    <div class="header__user ">
                        @{
                            ApplicationUser user = await userManager.FindByNameAsync(User.Identity.Name);
                            string photoPath = null;
                            if (user == null)
                            {
                                photoPath = "~/pictures/" + User.Identity.Name[0].ToString().ToUpper() + ".svg";
                            }
                            else if (user.PhotoPath == null)
                            {
                                photoPath = "~/pictures/" + User.Identity.Name[0].ToString().ToUpper() + ".svg";
                            }
                            else
                            {
                                photoPath = user.PhotoPath;
                            }
                        }
                        <div class="header__user-btn " data-dropdown-btn="user">
                            <img class="navigation-user-photo" src=@Url.Content(photoPath) alt="avatar">
                            @User.Identity.Name
                            <i class="fal fa-bars" style="font-size:medium; color:lightgray"></i>
                        </div>
                        <nav class="dropdown dropdown--design-01" data-dropdown-list="user">
                            <ul class="dropdown__catalog user-menu">
                                <li>
                                    <a asp-controller="Topic" asp-action="Topics" asp-route-username="@User.Identity.Name">My Topics</a>
                                    <i class="fal fa-comments" aria-hidden="true" style="margin-left:5px"></i>
                                </li>
                                <li>
                                    <a asp-controller="User" asp-action="MyProfile"
                                       asp-route-username="@User.Identity.Name">My Profile</a>
                                    <i class="fal fa-cog" aria-hidden="true" style="margin-left:6px;color:gray"></i>
                                </li>
                                <li>
                                    <form asp-controller="User" asp-action="Logout">
                                        <input type="submit" value="Log Out" class="form-as-link" />
                                        <i class="fal fa-sign-out" style="margin-left:6px;color:gray"></i>
                                    </form>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            }
            else
            {
                <div class="header-login-signup">
                    <a data-toggle="modal" onclick="document.getElementById('modal01').style.display = 'block'; $('html').css('overflow', 'hidden');"
                       style="cursor: pointer;"><div>To start a topic <b> Log In </b>or <b>Sign Up</b></div> </a>
                </div>
            }
        }
    </div>
</div>

@await Html.PartialAsync("_LoginSignup",
    new ApplicationCore.ViewModels.User.UserViewModel
    {
        UserLoginViewModel = new ApplicationCore.ViewModels.User.UserLoginViewModel
        {
            ReturnUrl = ViewBag.ReturnUrl
        },
        UserSignupViewModel = new ApplicationCore.ViewModels.User.UserSignupViewModel
        {
            ReturnUrl = ViewBag.ReturnUrl
        }
    })

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/send-notifications.js"></script>