﻿@model ApplicationCore.ViewModels.Common.ErrorViewModel
@{
    ViewBag.Title = "Error";
}

@{
    if (Model == null)
    {
        <h4 class="text-danger">Error.</h4>
        <h5 class="text-danger">@ViewBag.ErrorMessage</h5>
    }
    else
    {
        <h4 class="text-danger">@Model.Title</h4>
        foreach (string message in Model.Messages)
        {
            <h5 class="text-danger">@message</h5><br />
        }
    }
}

